<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <!--<span role="dialog" class="sr-only"></span>-->
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" role="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">删除目录</h3>
            </div>
            <div class="modal-body">
                <p>是否删除该目录？</p>
                <small>删除后该目录下的文件将都会移动到垃圾箱!</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()" aria-label="Close">Close</button>
                <button type="button" class="btn btn-default" ng-click="deleteDir(menuModal)" aria-label="Delete">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
  $(document).ready(function(){
    $(".modal-dialog").draggable();//为模态对话框添加拖拽
  })
</script>